*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Playpen Sans', cursive;
}



header{
    font-family: 'Times New Roman', Times, serif;
    z-index: -100;
    }
    
    .navbar{
    background: black;
    height: 100px;
    width: 100%;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    }



.navbar .logo{
height: 100px;
width: 15%;
display: flex;

}


.shiny{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: black;
    text-transform: uppercase;
    cursor: not-allowed;
    text-align: center;
    width: 100%;
    margin-left: 5%;
    margin-right: 40%;
    }
    
    .shiny a{
    position: relative;
    display: inline-block;
    letter-spacing: 5px;
    color:white;
    font-size: 100%;
    font-weight: bold;
    transition: 0.5s;
    overflow: hidden;
    gap: 50%;
    margin-right: -50%;
    width: max-content;
    text-align: center;
    }
    
    
    
    
    
    
    .shiny a:hover{
    background-color:tomato ;
    color: black;
    box-shadow: 0 0 5px yellow, 
                0 0 25px yellow,
                0 0 50px yellow,
                0 0 100px yellow,
                ;
                -webkit-box-reflect: above 1px linear-gradient(transparent, black) ;
    }
    
    
    
    .shiny a:first-child{
    filter: hue-rotate(225deg);
    }
    
    .shiny a:last-child{
    filter: hue-rotate(90deg);
    }
    
    .shiny a span{
    position: absolute;
    display: block;
    }
    


    .shiny a span:nth-child(1)
    {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,tomato);
    animation: animate1 1s infinite;
    animation-delay: 1s;
    }
    
    @keyframes animate1 {
    0%
    {
    left: -100%;
    }
    
    100%
    {
    left: 100%;
    }
    }
    
    
    .shiny a span:nth-child(2)
    {
    top: -100%;
    right: 0%;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,transparent, yellow);
    animation: animate2 1s infinite;
    animation-delay: 1s;
    }
    
    @keyframes animate2 {
        0%
        {
        top: -100%;
        }
        
        100%
        {
        top: 100%;
        }
        }
    
    
    .shiny a span:nth-child(3)
    {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg,transparent,tomato);
    animation: animate3 1s infinite;
    animation-delay: 1s;
    }
    
    @keyframes animate3{
    0%{
    right: -100%;
    }
    100%{
    right: 100%;
    }
    }
    
    
    .shiny a span:nth-child(4)
    {
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg,transparent,tomato);
    animation: animate4 1s infinite;
    animation-delay: 1s;
    }
    
    
    @keyframes animate4{
    
    0%{
    bottom: -100%;
    }
    
    100%{
    bottom: 100%;
    }
    }


    
    @keyframes animate5{


        0%  {
        
        transform: translateY(100vh) scale(0);
        
            }
        
        
        100%  {
        transform: translateY(-10vh) scale(1);
        
              }
        
        }




body{
min-height: 100vh;
background: rgb(14,0,255);
background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(0,212,255,1) 100%, rgba(255,255,255,1) 100%);
justify-content: space-between;
align-items: center;
}



.arkaplan{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -60%;
    z-index: -100;
    }
    
    .sosyal{
    font-size: 320%;
    text-align: center;
    position: relative;
    color: white;
    height:fit-content;
    width: 55%;
    margin-bottom: 20%;
    display: inline-flex;
    margin-left: 35%;
    justify-content: space-evenly;;
    gap: 5px;
    }
    
    
    .logo1{
    border: 1px darkgoldenrod solid;
    border-radius: 50%;
    color: gold;
    background: black;
    width: 10%;
    height: max-content;
    }
        
    .logo1:hover{
    background-color: darkgoldenrod;
    color: white;
    transition: 2s;
    }
    
    .logo2{
    border: 1px darkgoldenrod solid;
    border-radius: 50%;
    color: gold;
    background: black;
    width: 10%;
    
    height: max-content;
    }
    
    .logo2:hover{
    background-color: darkgoldenrod;
    color: white;
    transition: 2s;
    }
    
    .logo3{
    border: 1px darkgoldenrod solid;
    border-radius: 50%;
    color: gold;
    background: black;
    width: 10%;
    height: max-content;
    }
    
    .logo3:hover{
    background-color: darkgoldenrod;
    color: white;
    transition: 2s;
    }
     
    .logo4{
    border: 1px darkgoldenrod solid;
    border-radius: 50%;
    color: gold;
    background: black;
    width: 10%;
    height: fit-content;
    }
    
    .logo4:hover{
    background-color: darkgoldenrod;
    color: white;
    transition: 2s;
    }
    
    .logo5{
    border: 1px darkgoldenrod solid;
    border-radius: 50%;
    color: gold;
    background: black;
    width: fit-content;
    height: max-content;
    }
    
    .logo5:hover{
    background-color: darkgoldenrod;
    color: white;
    transition: 2s;
    }
    
    
    .balonlar{
    position: relative;
    display: flex;
    }
    
    .balonlar span{
    position: relative;
    width: 30px;
    height: 30px;
    background: lightsteelblue;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px black,
    0 0 0 2px white,
    0 0 0 5px white;
    animation: animate5 linear infinite;
    animation-duration: calc(120s / var(--i));
    }
    
    .balonlar span:nth-child(even)
    {
    background: white;
    box-shadow: 0 0 0 3px black,
    0 0 0 1px white,
    0 0 0 2px white;
    }


.sayfa{
position: relative;


}

    
.name{
    font-size: 600%;
    display: flex;
    color: darkgoldenrod;
    width:fit-content;
    text-transform: uppercase;
    cursor: crosshair;
    position: absolute;
    padding: 50px;
    margin-left: 35%;
    text-align:center;
    }
    
    .name:hover{
    color: yellow;
    transition: 2s;
    }
    
    .ben{
    height: 60%;
    width: 30%;
    border-radius: 50%;
    position: relative;
    }
    
    .ben:hover{
    height: 40%;
    width: 40%;
    transition: 2s;
    }
    
    
    .aciklama{
    font-size: 600%;
    color: lightcyan;
    width: fit-content;
    display: flex;
    position: absolute;
    width: fit-content;
    height: 100px;
    margin-left: 30%;
    margin-top: 10%;
    border: 1px white transparent;
    letter-spacing: 5px;
    text-align: center;
    }
    
    .aciklama:hover{
    color: darkslategrey;
    transition: 2s;
    }

    ::-webkit-scrollbar{
        width: 10px;
        cursor: not-allowed;
        }
        
        ::-webkit-scrollbar-track{
        background: darkgray;
        cursor: not-allowed;
        }
        
        ::-webkit-scrollbar-thumb{
        background: crimson;
        border-radius: 10px;
        }
        
        ::-webkit-scrollbar-thumb:hover{
        background: lightgray;
        }



@media(max-width:1630px){

.name{
font-size: 450%;
}

}




@media (max-width:1585px){

.name{
font-size: 500%;
}

.aciklama{
font-size: 500%;
}

.sosyal{
margin-top: -8%;
width: 70%;
margin-left: 25%;
}
}

@media(max-width:1430px){

.name{
font-size: 450%;
}

}

@media (max-width:1340px){

.name{
font-size: 410%;
}

.aciklama{
font-size: 420%;
}

.logo1,.logo2,.logo3,.logo4,.logo5{
width: 1%;
margin-right: 20%;
background: none;
border: none;
border-radius: 50%;
}

}

@media (max-width:1280px){

.shiny{
display: grid;
margin-left: 30%;
height: 100px;
}

.name{
font-size: 400%;
}

.aciklama{
font-size: 200%;
padding-top: 10%;
}


}

@media(max-width:1120px){

.name{
font-size: 350%;
}

.aciklama{
font-size: 350%;
padding-top: 1%;
}


}


@media(max-width:1050px){

.name{
font-size: 320%;
}

.aciklama{
font-size: 320%;
}

}


@media (max-width:992px){

.name{
font-size: 280%;
}

.aciklama{
font-size: 280%;
}

.shiny{
margin-left: 20%;
}


}



@media (max-width:885px){

.name{
font-size: 250%;
}


.aciklama{
font-size: 250%;
}

}


@media (max-width:775px){


.shiny{
margin-left: 20%;
}

.name{
    font-size: 200%;
    margin-top: -4%;
    }
    
    
    .aciklama{
    font-size: 200%;
    margin-top: 10%;
    }

}



@media (max-width:670px){

.name{
font-size: 150%;
}

.aciklama{
font-size: 150%;
}
}



@media(max-width:375px){

.name{
font-size: 150%;
margin-top: 35%;
margin-left: 13%;
}

.aciklama{
font-size: 120%;
margin-top: 65%;
margin-left: 10%;
}

.ben{
margin-left: 40%;
margin-top: 10%;
display: none;
}

.sosyal{
margin-left: 20%;
margin-top: 10%;
}

}


@media(max-width:414px){

    .name{
    font-size: 120%;
    margin-top: 35%;
    margin-left: 13%;
    }
    
    .aciklama{
    font-size: 120%;
    margin-top: 65%;
    margin-left: 10%;
    }
    
    .ben{
    margin-left: 40%;
    margin-top: 10%;
    display: none;
    }
    
    .sosyal{
    margin-left: 20%;
    margin-top: 10%;
    }
    
    }

    @media(max-width:390px){

    .name{
    font-size: 120%;
    margin-top: 35%;
    margin-left: 13%;
    }
        
    .aciklama{
    font-size: 120%;
    margin-top: 65%;
    margin-left: 10%;
    }
        
    .ben{
    margin-left: 40%;
    margin-top: 10%;
    display: none;
    }
        
    .sosyal{
    margin-left: 20%;
    margin-top: 10%;
    }
        
    }

    @media(max-width:430px){

    .name{
    font-size: 120%;
    margin-top: 35%;
    margin-left: 13%;
    }
            
    .aciklama{
    font-size: 120%;
    margin-top: 65%;
    margin-left: 10%;
    }
            
    .ben{
    margin-left: 40%;
    margin-top: 10%;
    display: none;
    }
            
    .sosyal{
    margin-left: 20%;
    margin-top: 10%;
    }
            
    }


    @media(max-width:280px){

    .sosyal{
    width: 50%;
    gap: 25%;
    margin-top: 1%;
    height: 250%;
    }

    .name{
    font-size: 150%;
    margin-top: 25%;
    margin-left: 10%;
    }

    .aciklama{
    font-size: 150%;
    margin-top: 90%;
    margin-right: 10%;
    }

    }